Repository heiseonline/embetty: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,html,md}": [
    "prettier --write"
  ]
}

fix: fix broken Github release upload
  .github/workflows/artifacts.yml
  .releaserc
  package.json
  yarn.lock
Due: prettier --write

chore(release): 3.0.5
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e356a9e8aea4b8a42bf808ec440f05fadff2938e
Due: none

fix: include correct Embetty version in build artifacts
  .github/workflows/semantic-release.yml
  package.json
Due: prettier --write

chore(release): 3.0.6
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  754a0ae402d4ac97fec1141cea676256aed2dfba
Due: none

fix(CSS): optimize for recommended browserlist
  .browserslistrc
  postcss.config.js
Due: eslint --fix, prettier --write

chore(release): 3.0.7
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bd8931c7b1faa6bb093374f2f71fabe6bd966652
Due: none

fix: node-sass durch dart-sass (sass) ersetzen
  lib/embed/_video.scss
  lib/embed/tweet.scss
  package.json
  yarn.lock
Due: prettier --write

chore(release): 3.0.8
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a02cc177829ffc75ea5e26765283b6cc28d5c8e7
Due: none

Link to tweet url if medium is a video
  lib/embed/tweet.js
Due: eslint --fix, prettier --write

Link to tweet instead of embedding video tweets in Firefox
  lib/embed/tweet.js
Due: eslint --fix, prettier --write

Embed twitter videos instead of linking to them
  lib/embed/tweet.js
  lib/embed/tweet.scss
Due: eslint --fix, prettier --write

fix: update build target to es6 and remove some polyfills
  .browserslistrc
  polyfills.js
  webpack.config.js
Due: eslint --fix, prettier --write

chore(release): 4.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  23375cc04fd3978b0a129c10ab7c2637500f8838
Due: none

fix: loader updated, custom adapter raus und es2015 als target
  package.json
  polyfills.ts
  test/setup.js
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

v4.0.1
  package.json
Due: prettier --write

fix: aria label fuer playbutton
  lib/embed/video.ts
Due: none

fix: only define custom element if not defined before
  lib/util.ts
Due: none

ci: use node 16
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: eslint disable
  lib/util.ts
Due: none

fix: temporaere ts fixes
  lib/embed/tweet.ts
  lib/embed/video.ts
  lib/embed/video/type/facebook.ts
  lib/observable.ts
  lib/util.ts
Due: none

test: update snapshots
  lib/embed/__snapshots__/tweet.test.ts.snap
Due: none

fix: typescript problems
  lib/util.ts
Due: none

test: add timezone to test command
  package.json
Due: prettier --write

test: zunaechst hard gemocked
  lib/embed/tweet.test.ts
  package.json
Due: prettier --write

fix: tests nur auf 14-16
  .github/workflows/tests.yml
Due: none

test: mock to isostring
  lib/embed/tweet.test.ts
Due: none

c: semantic release vorerst raus
  .github/workflows/semantic-release.yml
  .releaserc
Due: none

chore: update deps and removed polyfills
  .browserslistrc
  dev-server.js
  lib/embed.ts
  lib/embed/tweet.ts
  lib/embed/video.ts
  lib/embed/video/type/facebook.ts
  lib/embed/video/type/vimeo.ts
  lib/util.ts
  package.json
  polyfills.ts
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: polyfills will be looked at later
  lib/embed.ts
  lib/util.ts
  package.json
  polyfills.ts
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

test: fix tests
  __mocks__/_video.scss.js
  __mocks__/_video.scss.ts
  __mocks__/embetty.svg.js
  __mocks__/embetty.svg.ts
  __mocks__/facebook.scss.js
  __mocks__/facebook.scss.ts
  __mocks__/tweet.scss.js
  __mocks__/tweet.scss.ts
  __mocks__/vimeo.scss.js
  __mocks__/vimeo.scss.ts
  __mocks__/youtube.scss.js
  __mocks__/youtube.scss.ts
  jest.config.js
  lib/embed/__snapshots__/tweet.test.ts.snap
  lib/embed/tweet.test.ts
  lib/embed/video/type/vimeo.test.ts
  lib/embed/video/type/youtube.test.ts
  package.json
Due: eslint --fix, prettier --write

ci: update eslint setup
  .eslintignore
  .eslintrc
  .eslintrc.js
  .github/workflows/tests.yml
  lib/decorators.ts
  lib/embed.ts
  lib/embed/tweet.ts
  lib/embed/video.ts
  lib/embed/video/type/facebook.ts
  lib/embed/video/type/vimeo.ts
  lib/embed/video/type/youtube.test.ts
  lib/embed/video/type/youtube.ts
  lib/embetty.test.ts
  lib/interfaces.ts
  lib/observable.ts
  lib/util.ts
  test/lib/util.ts
  tsconfig.build.json
  tsconfig.eslint.json
Due: eslint --fix, prettier --write

fix: dart sass replaces node sass
  lib/embed/_video.scss
  lib/embed/tweet.scss
  package.json
Due: prettier --write

refactor: polyfills moved into lib
  lib/polyfills.ts
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write
