Repository heiseonline/embetty: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: add root "test" command
  package.json
Due: prettier --write

chore: use local libs
  packages/embetty/dev-server.js
Due: eslint --fix, prettier --write

chore: fix deps
  packages/server/package.json
  yarn.lock
Due: prettier --write

fix: parse the title correctly
  packages/base/lib/tweet.js
Due: eslint --fix, prettier --write

chore: enable the independent mode
  lerna.json
Due: prettier --write

chore: configure semantic-release
  .releaserc.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: upgrade webpack deps
  packages/embetty/package.json
  yarn.lock
Due: prettier --write

chore: add .eslintignore
  packages/embetty/.eslintignore
Due: none

chore: fix CSS import
  packages/embetty/lib/embed/tweet.js
  packages/embetty/lib/embed/video.js
Due: eslint --fix, prettier --write

chore: fix "Replace Autoprefixer browsers option to Browserslist config"
  packages/embetty/postcss.config.js
Due: eslint --fix, prettier --write

chore: remove debug
  packages/embetty/lib/embed/tweet.js
Due: eslint --fix, prettier --write

chore: do not bundle whole package.json
  packages/embetty/index.js
  packages/embetty/webpack.config.js
Due: eslint --fix, prettier --write

Added aria-label for video play-button
  lib/embed/video.js
Due: eslint --fix, prettier --write

[FIX] define custom element directly if web components already loaded
  lib/util.js
Due: eslint --fix, prettier --write

[FIX] only define custom element if not defined before
  lib/util.js
Due: eslint --fix, prettier --write

fix: define custom element directly if web components already loaded
  lib/util.js
Due: eslint --fix, prettier --write

fix: only define custom element if not defined before
  lib/util.js
Due: eslint --fix, prettier --write

refactor: fix complexity issue
  lib/util.js
Due: eslint --fix, prettier --write

chore: fix whitespace
  .eslintrc
Due: none

chore: fix eslint setup
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade babel
  yarn.lock
Due: none

BREAKING CHANGE: drop support for Node.js 10
  package.json
Due: prettier --write

ci: use semantic release
  .github/workflows/release.yml
  .releaserc
  package.json
  yarn.lock
Due: prettier --write

ci: fix semantic-relase setup
  .github/workflows/artifacts.yml
  .github/workflows/semantic-release.yml
Due: none

ci: use separate jobs for linting and testing
  .github/workflows/ci.yml
Due: none

ci: main branch is master now
  .github/workflows/ci.yml
Due: none

ci: rename "CI" => "Tests"
  .github/workflows/tests.yml
Due: none

fix: upgrade deps
  yarn.lock
Due: none

ci: fix tests
  .github/workflows/tests.yml
Due: none

chore: fix typo
  .releaserc
Due: none

chore(release): 3.0.4
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  27d04c9fd762111ebccd7b25f4b4205f6b432347
Due: none

ci: 10.x support was removed
  .github/workflows/tests.yml
Due: none

ci: try to depend on another workflow file
  .github/workflows/semantic-release.yml
Due: none

chore: fix eslint
  package.json
  yarn.lock
Due: prettier --write

ci: fix typo
  .github/workflows/semantic-release.yml
Due: none

test: skip flaky tests
  test/facebook.js
Due: eslint --fix, prettier --write

test: increase mocha timeout
  karma.conf.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{json,html,md})
